# =============================================================================================
# = DATA SOURCE
# =============================================================================================
spring:
  jpa:
    hibernate.ddl-auto: validate
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
        default_schema: structure
  liquibase.default-schema: structure
  datasource:
    url: jdbc:postgresql://localhost:5432/structure
    username: postgres
    password: postgres
  mvc:
    throw-exception-if-no-handler-found: true
  resources:
    add-mappings: false

service:
  properties:
    short-code: STR